$primary-color: rgba(242, 242, 242, 1); //hellgrau
$secondary-color: rgba(242, 147, 92, 1); //lightorange
$tertiary-color: rgba(242, 141, 53, 1); //orange
$tertiary-color: rgba(242, 92, 5, 1); //hellorange
$background-color: rgba(13, 13, 13, 1); //schwarz
